.container
{
    border: 2px solid #999;
    border-radius: 5px;
    padding: 10px 30px;
    margin: 0 auto;
    width: 500px;
}

h1{
    font-size: 2em;
}

p{
    font-family: 'Roboto';
}

.head{
    background-color: purple;
    
}